body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.hd{
  background-color: burlywood;
  height: 100vh;
}

.title{
  text-align: center;
  margin: 0 auto ;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul li a:hover{
  color: red;
}



.services-sect .services-h2
{
   text-align: center;
   position: relative;
   bottom: 20% ;
   /* left: 35%; */
   font-weight: bolder;
}

.services-sect .services-div1
{
    flex-direction: row;
    display: flex;
    
}

/* first div start */

.services-div1
{
    display: flex;
   justify-content: center;
   padding: 10px;
   text-align: center;
}

.services-div1 .services-p
{
  width: 90%;
  text-align: center;
}
.services-div1 .services-h4{
    font-size: 20px;
    font-weight: 800;
}

.services-div1 .services-p{
    width: 60%;
    display: flex;
    /* justify-content: center; */
    align-items: center ;
    font-size: 12px;
    position: relative;
    left: 20%;
    text-align: center;

}

/* first div end  */


/* second div start */

.services-div2
{
    display: flex;
   justify-content: center;
   padding: 10px; 
   text-align: center;   
}


.services-div2 .services-h4{
    font-size: 20px;
    font-weight: 800;
}

.services-div2 .services-p{
    width: 60%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 12px;
    /* font-weight: 700; */
    position: relative;
    left: 20%;
    text-align: center;
}

/* second div end */

.services-div1 .services
{
    background-color: rgba(247,245,249,255);
    /* height: 50%; */
    padding: 5%;
    margin: 10px;
    border-radius: 10%;
}

.services-div2 .services
{
  background-color: rgba(247,245,249,255);
  /* height: 50%; */
  padding: 5%;
  margin: 10px;
  border-radius: 10%;
}

.card-sec .card-pos{
  background-color: lightblue;
  height: 80px;
  width: 80px; 
  position: relative;
  border-radius: 50px;
  left: 30%;
}

.card-sec .card-pos i{
  position: absolute;
  /* right: 0.1px; */
  left: 10px;
  bottom: 15px;
}

#pos {
  position: relative;
  left: 1px;
  top: 10px;
}

#icn{
  position: relative;
  left: 1px;
  top: 10px;
}

.card{
  box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.6);
}

.card:hover{
  background-color: lightblue;
  transition: all .5s ease-in;
}

.img-btn:hover{
  background-color: lightblue;
  transition: all .5s ease-in;
}

.img-btn{
  position: relative;
  left: 20%;
  bottom: 15%;
}

.img-port{
  height: 450px;
}

.m-row2{
  position: relative;
  left: 5%;
}

.m-row1{
  position: relative;
  left: 5%;
  margin-bottom: 5;
}

.port-h2{
  margin-bottom: 5%;
}

.form-div{
  padding-left: 30%;
}

.form-name{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 120%;

}
.form-email{
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 25%;
  width: 120%;
}

.form-text{
  width: 50%;
  margin-left: 30%;
}

.form-p{
   margin-left: 30%;
}

.form-btn{
  margin-left: 30%;
  padding: 10px;
}